.carre-contenu {
  padding: 30px;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  text-align: justify;
  line-height: 2;
  position: relative;
}

.carre-contenu h2 {
  margin-top: 20px;
}

.carre-contenu ul {
  margin-top: 20px;
  list-style: none;
}

.carre-contenu ul div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carre-contenu ul div svg {
  color: #a5b4fc;
}

.cta-div {
  text-align: center;
}

.border-effect {
  height: 200px;
  width: 200px;
  border-right: 1px solid #a5b4fc;
  border-bottom: 1px solid #a5b4fc;
  position: absolute;
  right: 0;
  bottom: 0;
}

.mobile-deco {
  display: none;
  height: 100px;
  width: 100px;
}

.section-services {
  padding: 40px 80px;
}

/*70%*/
.a-propos-main {
  margin: auto;
}

td,
th {
  border: 1px solid #a5b4fc;
  padding: 15px;
}

.section-tarifs {
  padding: 0 80px 80px;
}

td {
  padding: 80px;
}
table {
  border-collapse: collapse;
  color: white;
  text-align: center;
  width: 100%;
}

h1,
h2 {
  text-align: center;
}
.section-tarifs h2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  .section-tarifs {
    display: none;
  }
  .border-effect {
    display: none;
  }
  .carre-contenu {
    margin: 30px auto;
    width: 82%;
    text-align: center;
  }
  .section-services {
    padding: 30px;
  }
  .carre-contenu ul {
    text-align: justify;
    list-style: initial;
    line-height: 1.6;
    text-align: left;
  }
  .carre-contenu ul li {
    margin-bottom: 8px;
  }
  .carre-contenu ul div {
    align-items: flex-start;
  }
  .carre-contenu ul div svg {
    display: none;
  }
  .mobile-deco {
    display: block;
  }
  .deco-effect1 {
    border-left: 1px solid #a5b4fc;
    border-top: 1px solid #a5b4fc;
    position: absolute;
    left: 0;
    top: 0;
  }
  .deco-effect2 {
    border-right: 1px solid #a5b4fc;
    border-bottom: 1px solid #a5b4fc;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 372px) {
  .long-cta {
    padding: 5px 10px;
  }
  .carre-contenu {
    padding: 20px;
  }
  .section-services {
    padding: 25px;
  }
}
@media screen and (max-width: 341px) {
  .long-cta {
    padding: 5px 10px;
    font-size: 0.8em;
  }
}
